  /* About Us Starts */
.container{
    /* width: 100%; */
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}
.aboutus-container{
    max-width: 1400px;
    margin: auto;
    overflow: hidden;
    padding: 20px;
}
#aboutus h2 {
    font-size: 40px;
    font-weight: 700;
    line-height: 38.4px;
    padding-top: 27px;
    margin-bottom: 20px;
    color: #111;
    position: relative;
  }
  #aboutus hr {
    position: relative;
    left: 50%;
    margin-top: 20px;
    transform: translate(-50%,-50%);
    border-color: rgb(255,64,129);
  }
  #aboutus hr.hr1 {
    max-width: 3.25rem;
    border-width: 0.22rem;
  }
  #aboutus hr.hr2 {
    max-width: 8.25rem;
    margin-top: -17px;
    margin-bottom: 30px;
  }
  .tabs {
    border: 1px solid #e1e1e1;
  }
  #tabs-nav {
    border-bottom: 1px solid rgba(0, 0, 0, 0.12);
  }
  #tabs-nav  li {
    display: inline-block;
    list-style: none;
    margin-left: 20px;
    padding:15px 20px;
  }
  #tabs-nav  li a {
    color: #777777;
    text-decoration: none;
    text-transform: uppercase;
    padding-bottom: 16.5px;
  }
  #tabs-nav .active {
  
    border-bottom: 2px solid rgb(255,64,129);
  }
  #tabs-nav .active a {
    color: rgb(63,81,181) !important;
  }
  #aboutus h2, #aboutus p{
    font-family: 'Redressed', cursive;
  }
  .tab-content img {
    border-radius: 50%;
    max-width: 100%;
    margin-bottom: 10px;
    margin-top: 10px;
  }

  .about-des{
      font-size: 25px;
      word-spacing: 3px;
      padding:0px 20px;
      margin-bottom: 40px;
  }
  /* TOur and Trekking Trip */
  /* Event */
  .trekking-title{
    font-size: 100px;
    text-align: center;
    margin-top: -42px;
    margin-bottom: 20px;
    overflow: hidden !important;
  }
  .event-row:after {
    content: "";
    display: table;
    clear: both;
    position: relative;
  }
  .event-container{
    max-width: 1400px;
    margin: auto;
    overflow: hidden;
    padding: 20px;
  }
  .event-col {
    float: left;
    width: 31%;
    position: relative;
    background-color: #fff;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
    transition: box-shadow 0.3s;
    border-radius: 20px;
    overflow: hidden;
    margin-right: 20px;
    margin-top: 50px;
  
  }
  .event_img{
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 90%);
  }
  .event-date{
    position: absolute;
      top: -1%;
      left: 85%;
      width: 70px;
      height: 70px;
      color: #fff;
      font-size: 19px;
      background-color: #ff7236;
      border-radius: 50%;
      text-align: center;
      padding-top: 5px;
      transition: width .3s;
      transition: height .3s;
  }
  .event-booking{
    width: 100%;
    padding: 16px 32px;
    background-color: #4CAF50; 
    color: black; 
    border: none;
    cursor: pointer;
    transition-duration: 0.4s;
    text-decoration: none;
    font-size: 24px;
    color: white;
  }
  .event-title{
    font-size: 30px;
    margin-left: 20px;
    font-family: 'Nova Oval', cursive;
  }
  .event-price{
    background-color: #4CAF50;
    width: 100px;
    position: absolute;
    color: white;
    top: 50%;
    left: 75%;
    box-sizing: content-box;
    text-align: center;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 5px;
    padding-right: 10px;
    font-size: 30px;
  }
  .event-location{
    margin-bottom: 10px;
    margin-left: 20px;
    margin-right: 20px;
  }

  @media (max-width: 1125px) {
    #wrapper{
      height: 620px;
      min-height: 100%;
    }
  }
  @media (max-width: 1085px) {
    #wrapper{
      height: 600px;
    }
  }
  @media (max-width: 1055px) {
    #wrapper{
      height: 550px;
    }
  }
  @media (max-width: 970px) {
    #wrapper{
      height: 500px;
    }
  }
  @media (max-width: 885px) {
    #wrapper{
      height: 450px;
    }
  }
  @media (max-width: 780px) {
    #wrapper{
      height: 400px;
    }
    .top h1{
      margin-top: 30%;
    }
  }
  @media (max-width: 678px) {
    #wrapper {
      height: 100%;
      min-height: 100%;
    }
    .bottom{
      display: none;
    }
  
    .top h1{
      margin-top: 0%;
    }
    .skewed .top{
      transform: none;
      margin-left:0;
      width: 100%;
    }
    .layer {
      position: initial;
      overflow: initial;
    }
    .layer .content-wrap {
      width: 100%;
      min-height: 400px;
      position:relative;
  }
    .skewed .top .content-wrap{
      transform: none;
      margin-left:0px;
    }
    .top .content-body {
      width: 100%;
      left: 50%;
      top: 50%;
      transform: translate(-50%,-50%);
      text-align: center;
    }
  }
/* Event end */
/* Responsive for Event */
@media screen and (max-width:1200px){
 
}

@media screen and (max-width:1000px){
  .event-col {
    float: left;
    width: 31%;
    position: relative;
    background-color: #fff;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
    transition: box-shadow 0.3s;
    border-radius: 20px;
    overflow: hidden;
    margin-left: 5px;
    margin-right: 10px;
    margin-top: 30px;
  }
  .event-title{
    font-size: 20px;
    margin-left: 20px;
    font-family: 'Nova Oval', cursive;
  }
  .trekking-title{
    font-size: 50px;
    text-align: center;
    margin-top: 0px;
    margin-bottom: 20px;
    overflow: hidden !important;
  }
  .event-date{
    position: absolute;
      left: 74%;
      width: 60px;
      height: 60px;
      color: #fff;
      font-size: 17px;
      background-color: #ff7236;
      border-radius: 50%;
      text-align: center;
      padding-top: 5px;
      transition: width .4s;
      transition: height .3s;
  }

  .event-price{
    background-color: #4CAF50;
    width: 70px;
    position: absolute;
    color: white;
    top: 28%;
    left: 65%;
    box-sizing: content-box;
    text-align: center;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 5px;
    padding-right: 10px;
    font-size: 22px;
  }
}

@media screen and (max-width:600px){
  .event-col {
    float: left;
    width: 90%;
    position: relative;
    background-color: #fff;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
    transition: box-shadow 0.3s;
    border-radius: 20px;
    overflow: hidden;
    margin-left: 20px;
    margin-top: 30px;
  }
  .event-date{
    position: absolute;
      left: 82%;
      width: 70px;
      height: 70px;
      color: #fff;
      font-size: 19px;
      background-color: #ff7236;
      border-radius: 50%;
      text-align: center;
      padding-top: 5px;
      transition: width .4s;
      transition: height .3s;
  }

  .event-price{
    background-color: #4CAF50;
    width: 100px;
    position: absolute;
    color: white;
    top: 43%;
    left: 70%;
    box-sizing: content-box;
    text-align: center;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 5px;
    padding-right: 10px;
    font-size: 30px;
  }
}
/* Responsive end here for event */