
/* Hero Slider Start  */
.swiper-container {
  width: 100%;
  margin-top: 100px;
  
}
.slide-left{
  float: left;
  background-color: white;
  width: 640px;
  padding: 100px;
  z-index: 99;
}
.slide-left h6{
  font-size: 28px;
  font-weight: 600;
}
.slide-left h1{
  font-size: 50px;
  font-weight: 700;
  color: #272643;
}
.slide-left p{
  font-size: 16px;
  line-height: 28px;
}
.slide-left a{
  position: relative;
  display: inline-block;
  margin-top: 40px;
  font-size: 16px;
  font-weight: 600;
  color: #272643;
  text-decoration: none;
}
.slide-left a::before{
  content: " ";
  position: absolute;
  width: 100%;
  height: 2px;
  background: #272652;
  bottom: 0;
}
.slide-right{
  position: relative;
  float: left;
  margin-left: -50px;
  width: calc(100% - 640px);
  z-index: 999;
}
.swiper-button-next:after,
.swiper-button-prev:after{
  display: none;
} 
.swiper-button-next,
.swiper-button-prev{
  top: inherit;
  bottom: 28px;
}
.swiper-button-prev{
  left: 536px ;
  top: 400px;
}
.swiper-button-next{
  left: 617px;
  top: 400px;
}
/* Hero slider responsive code */
@media screen and (max-width:1200px){
 
}

@media screen and (max-width:1000px){
 
}

@media screen and (max-width:600px){
  .swiper-container {
    width: 100%;
    margin-top: 100px;
    
  }
  .slide-left{
    float: left;
    background-color: white;
    width: 100%;
    padding: 30px;
    padding-bottom: 20px;
    z-index: 99;
    margin-top: 350px;
  }
  .slide-left h6{
    font-size: 28px;
    font-weight: 600;
  }
  .slide-left h1{
    font-size: 30px;
    font-weight: 700;
    color: #272643;
  }
  .slide-left p{
    font-size: 16px;
    line-height: 28px;
  }
  .slide-left a{
    position: relative;
    display: inline-block;
    margin-top: 11px;
    font-size: 16px;
    font-weight: 600;
    color: #272643;
    text-decoration: none;
  }
  .slide-left a::before{
    content: " ";
    position: relative;
    width: 100%;
    height: 2px;
    background: #272652;
    bottom: 0;
  }
  .slide-right{
    position: absolute;
    float: left;
    margin-left: 0px;
    width: 100%;
    z-index: 999;
    margin-top:   95px;
  }
  .swiper-button-next:after,
  .swiper-button-prev:after{
    display: none;
  } 
  .swiper-button-next,
  .swiper-button-prev{
    top: inherit;
    bottom: 28px;
  }
  .swiper-button-prev{
    left: 5% ;
    top: 290px;
    width: 20px;
  }
  .swiper-button-next{
    left: 91%;
    top: 290px;
    width: 20px;
  }
}
/* Hero Image responsive code end here */
/* About us */
.about-us{
  font-size: 100px;
  text-align: center;
  margin-top: 20px;
  margin-bottom: 20px;
  overflow: hidden !important;
}
.about-us-title{
  font-size: 100px;
  text-align: center;
  margin-top: 20px;
  margin-bottom: 20px;
  overflow: hidden !important;
}
.about-section{
  overflow: hidden;
  background: url(/IMG/about.jpg) no-repeat left;
  background-size: 55%;
  background-color: #fdfdfd;
  padding: 100px 0;
}

.inner-container{
  width: 55%;
  float: right;
  background-color: #fdfdfd;
  padding-top: 50px;
  padding-left: 30px;
  padding-bottom: 40px;
  overflow: hidden;
}

.inner-container h1{
  margin-bottom: 30px;
  font-size: 30px;
  font-weight: 900;
}

.text{
  font-size: 20px;
  color: #545454;
  line-height: 25px;
  text-align: justify;
  margin-bottom: 40px;
}

@media screen and (max-width:1200px){
  .inner-container{
      padding: 80px;
  }
}

@media screen and (max-width:1000px){
  .about-section{
      background-size: 100%;
      padding: 100px 40px;
  }
  .inner-container{
      width: 100%;
  }
}

@media screen and (max-width:600px){
  .about-section{
      padding: 0;
  }
  .inner-container{
      padding: 10px;
  }
  .about-us-title{
    display: none;
    font-size: 100px;
    text-align: center;
    margin-top: 0px;
    margin-bottom: 20px;
    overflow: hidden !important;
  }
  .inner-container h1{
    font-size: 50px;
    text-align: center;
    margin-top: 30px;
    margin-bottom: 20px;
    overflow: hidden !important;
  }

}
/* About Us End */
/* Event */
.event-row:after {
  content: "";
  display: table;
  clear: both;
  position: relative;
}
.event-container{
  max-width: 1400px;
  margin: auto;
  overflow: hidden;
  padding: 20px;
}
.event-col {
  float: left;
  width: 31%;
  position: relative;
  background-color: #fff;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
  transition: box-shadow 0.3s;
  border-radius: 20px;
  overflow: hidden;
  margin-right: 20px;

}
.event_img{
  clip-path: polygon(0 0, 100% 0, 100% 100%, 0 90%);
}
.event-date{
  position: absolute;
    top: -1%;
    left: 85%;
    width: 70px;
    height: 70px;
    color: #fff;
    font-size: 19px;
    background-color: #ff7236;
    border-radius: 50%;
    text-align: center;
    padding-top: 5px;
    transition: width .3s;
    transition: height .3s;
}
.event-booking{
  width: 100%;
  padding: 16px 32px;
  background-color: #4CAF50; 
  color: black; 
  border: none;
  cursor: pointer;
  transition-duration: 0.4s;
  text-decoration: none;
  font-size: 24px;
  color: white;
}
.event-title{
  font-size: 30px;
  margin-left: 20px;
  font-family: 'Nova Oval', cursive;
}
.event-price{
  background-color: #4CAF50;
  width: 100px;
  position: absolute;
  color: white;
  top: 49%;
  left: 75%;
  box-sizing: content-box;
  text-align: center;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 5px;
  padding-right: 10px;
  font-size: 30px;
}
.event-location{
  margin-bottom: 10px;
  margin-left: 20px;
  margin-right: 20px;
}
/* Event end */
/* Responsive for Event */
@media screen and (max-width:1200px){
 
}

@media screen and (max-width:1000px){
  .event-col {
    float: left;
    width: 31%;
    position: relative;
    background-color: #fff;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
    transition: box-shadow 0.3s;
    border-radius: 20px;
    overflow: hidden;
    margin-left: 5px;
    margin-right: 10px;
    margin-top: 30px;
  }
  .event-title{
    font-size: 20px;
    margin-left: 20px;
    font-family: 'Nova Oval', cursive;
  }
  .event-date{
    position: absolute;
      left: 74%;
      width: 60px;
      height: 60px;
      color: #fff;
      font-size: 19px;
      background-color: #ff7236;
      border-radius: 50%;
      text-align: center;
      padding-top: 5px;
      transition: width .4s;
      transition: height .3s;
  }

  .event-price{
    background-color: #4CAF50;
    width: 70px;
    position: absolute;
    color: white;
    top: 27%;
    left: 65%;
    box-sizing: content-box;
    text-align: center;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 5px;
    padding-right: 10px;
    font-size: 22px;
  }
}

@media screen and (max-width:600px){
  .event-col {
    float: left;
    width: 90%;
    position: relative;
    background-color: #fff;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
    transition: box-shadow 0.3s;
    border-radius: 20px;
    overflow: hidden;
    margin-left: 20px;
    margin-top: 30px;
  }
  .event-date{
    position: absolute;
      left: 82%;
      width: 70px;
      height: 70px;
      color: #fff;
      font-size: 19px;
      background-color: #ff7236;
      border-radius: 50%;
      text-align: center;
      padding-top: 5px;
      transition: width .4s;
      transition: height .3s;
  }

  .event-price{
    background-color: #4CAF50;
    width: 100px;
    position: absolute;
    color: white;
    top: 43%;
    left: 70%;
    box-sizing: content-box;
    text-align: center;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 5px;
    padding-right: 10px;
    font-size: 30px;
  }
}
/* Responsive end here for event */
/* Why with us?? */
.services{
  margin-top: 40px;
  background: white;
  text-align: center;
}
.services h1{
  display: inline-block;
  text-transform: uppercase;
  /* border-bottom: 4px solid #3498db; */
  /* font-size: 20px; */
  /* padding-bottom: 10px;
  margin-top: 40px; */
}
.cen{
  max-width: 1200px;
  margin: auto;
  overflow: hidden;
  padding: 20px;
}
.service{
  display: inline-block;
  width: calc(100% / 3);
  margin: 0 -2px;
  padding: 20px;
  box-sizing: border-box;
  cursor: pointer;
  transition: 0.4s;
}
.service:hover{
  background: #ddd;
}
.service i{
  color: #3498db;
  font-size: 34px;
  margin-bottom: 30px;
}
.service h2{
  font-size: 18px;
  text-transform: uppercase;
  font-weight: 500;
  margin: 0;
}
.service p{
  color: gray;
  font-size: 15px;
  font-weight: 500;
}
/* service end responsive */
/* Responsive design for Service */
@media screen and (max-width:1200px){
 
}

@media screen and (max-width:1000px){
  .service{
    display: inline-block;
    width:50%;
    margin: 0 -2px;
    padding: 20px;
    box-sizing: border-box;
    cursor: pointer;
    transition: 0.4s;
  }
  .service:hover{
    background: #ddd;
  }
}

@media screen and (max-width:600px){
  .services{
    margin-top: 40px;
    background: white;
    text-align: center;
  }
  .service{
    display: inline-block;
    width:100%;
    margin: 0 -2px;
    padding: 20px;
    box-sizing: border-box;
    cursor: pointer;
    transition: 0.4s;
  }
  .service:hover{
    background: #ddd;
  }
}
/* Responsive design for service end here */
/* Trending Blog */
 .trending-news-row{
  content: "";
  display: table;
  clear: both;
  margin-top: 30px;
}
.trending-news-col{
  float: left;
  width: 69%; 
  margin-right: 15px;
  background-color: white;
  /* box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.06), 0 2px 5px 0 rgba(0, 0, 0, 0.2); */
}
.trending-news-col-left{
  float: left;
  width: 46.7%; 
  margin-right: 10px;
  margin-left: 10px;
  margin-top: 20px;
  background-color: white;
  /* box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.06), 0 2px 5px 0 rgba(0, 0, 0, 0.2); */
}
.trending-subs-feed-col{
  width: 25%;
  float: left;
}
.subscribe{
 font-size: 25px;
 position: relative;
 margin-bottom: 20px;
}
.subscribe::before{
  content: "";
  position: absolute;
  height: 3px;
  background-color: #0078ff;
  width: 100px;
  bottom: -3px;
}
.ad{
  text-align: justify;
  margin-bottom: 30px;
}
.sub-name,.sub-email{
  display: block;
  width: 100%;
  height: calc(1.5em + 0.75rem + 2px);
  padding: 20px 15px;
  border: 1px solid #ced4da;
  border-radius: 0.25rem;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  margin-bottom: 20px;
  margin-left: 0%;
}
.submit{
  background: #0078ff;
  border: 0;
  margin-left: 25%;
  padding: 10px 24px;
  color: #fff;
  transition: 0.4s;
}
.submit:hover{
  box-shadow: 0 0 0 4px #cde1f8;
  background: #0078ff;
  border: 0;
  padding: 10px 24px;
  color: #fff;
  transition: 0.4s;
}
.name{
  color: red !important;
}
.text-img-title {
  cursor: pointer;
  font-family: 'Nova Oval', cursive;
}
.text-img-title:hover {
  color: #0078ff;
}
/* Responsive Design for Blog */
@media screen and (max-width:1200px){
 
}

@media screen and (max-width:1000px){
  /* Trending Blog */
.trending-news-row{
  content: "";
  display: table;
  clear: both;
  margin-top: 20px;
}
.trending-news-col{
  float: left;
  width: 40%; 
  margin-left: 5%;
  background-color: white;
  /* box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.06), 0 2px 5px 0 rgba(0, 0, 0, 0.2); */
}
.trending-news-col-left{
  float: left;
  width: 100%; 
  margin-right: 0px;
  margin-left: 0px;
  margin-top: 0px;
  background-color: white;
  /* box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.06), 0 2px 5px 0 rgba(0, 0, 0, 0.2); */
}
.trending-subs-feed-col{
  width: 40%;
  float: left;
  margin-left: 5%;
}
}

@media screen and (max-width:600px){
/* Trending Blog */
.event-container{
  overflow: hidden;
  padding: 0px;
}
.trending-news-row{
  content: "";
  display: table;
  clear: both;
  margin-top: 20px;
}
.trending-news-col{
  float: left;
  width: 90%; 
  margin-left: 5%;
  background-color: white;
  /* box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.06), 0 2px 5px 0 rgba(0, 0, 0, 0.2); */
}
.trending-news-col-left{
  float: left;
  width: 100%; 
  margin-right: 0px;
  margin-left: 0px;
  margin-top: 0px;
  background-color: white;
  /* box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.06), 0 2px 5px 0 rgba(0, 0, 0, 0.2); */
}
.trending-subs-feed-col{
  width: 90%;
  float: left;
  margin-left: 5%;
}
.about-us{
  font-size: 50px;
  text-align: center;
  margin-top: 30px;
  margin-bottom: 20px;
  overflow: hidden !important;
}
}